
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">SwiftDesk</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse"  id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto my-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" routerLink="/hire" aria-haspopup="true" aria-expanded="false">Hire Talent</a>
            <div class="dropdown-menu infinite animated bounceIn" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Start A Project</a>
              <a class="dropdown-item" href="#">Pre Vetted</a>
              <div class="dropdown-divider"></div>

              <a class="dropdown-item" href="#"> Developers</a>
              <a class="dropdown-item" href="#"> Designers</a>
              <a class="dropdown-item" href="#"> SEO Experts</a>
              
            </div>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Platform</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Why</a>
            <a class="dropdown-item" href="#">Management</a>
            <a class="dropdown-item" href="#">Scalability</a>
            <a class="dropdown-item" href="#">Availaibility</a>
            <a class="dropdown-item" href="#">Reliable</a>
          </div>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Company</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item ">
              <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
            </li>
        </ul>
      
       
      </div>
    </nav>
